header{
    background-color: darkcyan;
    text-align: center;
    color: white;
    padding: 30px;
}
nav{            
    
    height: auto;
    background-color: gray;
    padding: 5px;
}
nav{
    border: 1px solid black;
}
nav ul>li{
    display: inline;
}
nav>ul>li{
    padding: 5px;
    border: 1px solid black;
}
article{
    background: lightgray;
    height: 200px;
}
footer{
    height: auto;
    background: goldenrod;
    width: 100%;
}
footer em{
    align-items: center
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}